{{#each departments}}
  {{#ifGreaterThanZero this.[1]}}
    <div class="department-filter btn-white btn-sm" data-department="{{this.[0]}}">
      {{#departmentName}}{{this.[0]}}{{/departmentName}}: {{this.[1]}}
    </div>
  {{/ifGreaterThanZero}}
{{/each}}
{{#ifGreaterThanZero departments.[3].[1]}}
  <div class="more-departments-button btn-white btn-sm">●●●</div>
{{/ifGreaterThanZero}}
