// Popup header
//
.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  padding: var(--spacing-02) var(--spacing-06);
  background-color: var(--colors-grey-900);
  color: #fff;
  min-height: 5.2rem;
  z-index: 100;
}

.header__logo {
  fill: #fff;
}

.header__metas {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: var(--spacing-01);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: calc(16/12);
}

.header__all-results {
  display: none;
  color: #fff;
  text-decoration: underline;
  transition: color 200ms ease-in;

  &:hover,
  &:focus {
    text-decoration: none;
    color: var(--colors-grey-200);
  }

  &::after {
    content: "•";
    color: var(--colors-grey-400);
    font-weight: 500;
    text-decoration: none;
  }
}

// Account
.account-not-logged,
.account-logged,
.account-upgrade-cta {
    display: none;
}

.account-avatar {
  width: 2rem;
  height: 2rem;
  margin-left: var(--spacing-01);
}

.account-not-logged {
  .h-button:not(:first-child) {
    margin-left: var(--spacing-01);
  }
}


// Loading placeholder
//
@keyframes placeHolderShimmer{
  0%{
    background-position: -700px 0
  }
  100%{
    background-position: 700px 0
  }
}

#loading-placeholder {
  padding: 0 24px 24px;

  .background-masker {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f6f6;
    background: linear-gradient(to right, #f3f3f3 8%, #eee 18%, #f3f3f3 33%);
    background-size: 700px 104px;
    position: relative;
  }

  .people-search-block {
    margin-top: 32px;
    height: 56px;
  }

  .result-name-block {
    margin-top: 24px;
    height: 16px;
    width: 200px;
  }

  .result-email-block {
    margin-top: 8px;
    height: 16px;
    width: 300px;
  }
}

// No results
//
.ds-no-results {
  .leads-manager,
  .results-header,
  .ds-results,
  .filters {
    display: none;
  }
}


// Leads list (footer)
//
.leads-manager {
  display: flex;
  align-items: center;
  gap: var(--spacing-04);
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: var(--spacing-04) var(--spacing-06);
  background: #FFFFFF;
  border-top: 1px solid var(--colors-grey-300);
  box-shadow: 0px -6px 12px rgba(0, 0, 0, 0.04);
  z-index: 90;
}

.list-select-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-02);

  label {
    font-weight: 500;
    font-size: 1.3rem;
    color: var(--colors-grey-800);
    margin: 0;
  }
}

.leads-manager__list {
  width: 24rem;
}

.leads-manager__link {
  font-size: 1.2rem;
  text-align: right;
  text-decoration-line: underline;
  color: var(--colors-grey-700);
  text-decoration-color: var(--colors-grey-400);
  transition: text-decoration-color 100ms ease-in;

  &:hover,
  &:focus {
    color: var(--colors-grey-800);
    text-decoration-color: transparent;
  }
}

// Error notifications or empty states
//
.error {
  display: none;
  margin: 0px 20px 90px 20px;
}

#linkedin-notification,
#empty-notification,
#blocked-notification {
  display: none;
  padding: var(--spacing-16) var(--spacing-10);
}

// Results header
//
.results-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-04) var(--spacing-06);
}

.results-header__count {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: calc(24/14);
  color: var(--colors-grey-900);
}

.results-header__pattern {
  display: none;
  font-size: 1.3rem;
  line-height: calc(24/13);
  color: var(--colors-grey-700);
}

// Filters
//
.filters {
  display: flex;
  align-items: center;
  gap: var(--spacing-02);
  padding: var(--spacing-04) var(--spacing-06);
  background: var(--colors-grey-100);
  border-top: 1px solid var(--colors-grey-300);
  border-bottom: 1px solid var(--colors-grey-300);

  [data-selected-filters] {
    .fa-angle-down {
      order: 10;
    }

    &::after {
      content: attr(data-selected-filters);
      width: var(--spacing-04);
      height: var(--spacing-04);
      background-color: var(--colors-grey-700);
      color: #fff;
      border-radius: 50%;
      font-size: 1rem;
      line-height: calc(16/10);
    }
  }
}

.filters-dropdown {
  padding: 0;
  background: #fff;
  box-shadow: 0px 4px 12px rgba(29, 38, 46, 0.12), 0px 12px 24px rgba(29, 38, 46, 0.08);
  border: 1px solid var(--colors-grey-300);
  border-radius: 4px;
  overflow: hidden;

  &:lang(fr) {
    min-width: 21rem;
  }
}

.filters-dropdown__submit {
  display: block;
  width: 100%;
  padding: var(--spacing-02);
  border: 0;
  border-top: 1px solid var(--colors-grey-300);
  background: #fff;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: calc(20/13);
  color: var(--colors-secondary-700);
  transition: background-color 150ms ease-in;

  &:hover,
  &:focus {
    background-color: var(--colors-grey-100);
  }
}

.filters-choice {
  list-style-type: none;
  padding: var(--spacing-04);
  margin: 0;
}

.filters-choice__item {
  &:not(:first-child) {
    margin-top: var(--spacing-02);
  }
}

.filters-choice__checkbox,
.filters-choice__radio {
  display: flex;
  align-items: center;
  gap: var(--spacing-02);

  input {
    margin: 0;
  }

  label {
    margin: 0;
    font-size: 1.2rem;
    line-height: calc(16/12);
    font-weight: 500;
    color: var(--colors-grey-800);
  }
}

.filters__by-name {
  margin-left: auto;

  &[aria-expanded="true"] {
    .fa-angle-down {
      transform: rotate(180deg);
    }
  }
}

.filters__clear {
  display: none;
}


// Email Finder
//
// Form
.find-by-name {
  display: none;
}

.ds-finder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-02);
  padding: var(--spacing-04);
  background-color: var(--colors-grey-100);
  border-bottom: 1px solid var(--colors-grey-300);
}

.ds-finder-form {
  flex: 1;
  display: flex;
  min-width: 0;
  border: 1px solid var(--colors-grey-300);
  border-radius: 4px;
  background-color: #fff;
  transition: border-color 150ms ease-in, box-shadow 150ms ease-in;

  &:focus-within {
    border-color: var(--colors-secondary-600);
    box-shadow: 0px 0px 0px 2px var(--colors-secondary-300);
  }
}

.ds-finder-form-name {
  flex: 1;
  display: flex;
  min-width: 0;
  align-items: center;
  gap: var(--spacing-02);
  padding: var(--spacing-01) var(--spacing-03);

  .ds-finder-form-name__field {
    padding: var(--spacing-01) 0;
    border: 0;
    height: auto;
    min-width: 0;
    border: 0;
    background-color: #fff;

    &:hover,
    &:focus {
      border: 0 !important;
      outline: 0;
    }
  }
}

.ds-finder-form-name__icon {
  color: var(--colors-grey-500);
}

.ds-finder-form__at {
  padding: var(--spacing-03);
  border-left: 1px solid var(--colors-grey-300);
  border-right: 1px solid var(--colors-grey-300);
  color: var(--colors-grey-500);
  font-size: 1.4rem;
  line-height: calc(16/14);
}

.ds-finder-form-company {
  flex: 1;
  display: flex;
  align-items: center;
  gap: var(--spacing-02);
  padding: var(--spacing-01) var(--spacing-03);
  max-width: 28rem;
}

.ds-finder-form-company__logo {
  height: 1.6rem;
  width: auto;
}

.ds-finder-form-company__name {
  flex: 1;
  font-size: 1.3rem;
  line-height: calc(20/13);
  white-space: nowrap;
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ds-finder-form-company__domain {
  margin-left: auto;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: calc(20/12);
  color: var(--colors-grey-600);
}

.ds-finder-form__submit {
  padding: var(--spacing-02) var(--spacing-04);
  border-width: 0 0 0 1px;
  border-color: var(--colors-grey-300);
  border-radius: 0 4px 4px 0;
  background-color: #fff;
  font-size: 1.6rem;
  line-height: calc(24/16);
  color: var(--colors-grey-700);
  transition: background-color 150ms ease-in, color 150ms ease-in;

  &:hover,
  &:focus {
    background-color: var(--colors-grey-100);
    color: var(--colors-grey-900);
  }
}

.ds-finder__close {
  font-size: 1.6rem;
  color: var(--colors-grey-600);
}

// Result
.ds-result--single {
  padding: var(--spacing-06);

  .ds-result__fullname {
    font-size: 1.4rem;
  }

  .ds-result__sources {
    padding-top: var(--spacing-04);
    margin-top: var(--spacing-06);
    border-top: 1px solid var(--colors-grey-300);
  }

  .ds-sources-list {
    margin-top: var(--spacing-06);
  }
}

// Results
//
.ds-results {
  padding-bottom: var(--spacing-16);
}

.ds-result {
  padding: var(--spacing-04) var(--spacing-06);
  border-bottom: 1px solid var(--colors-grey-300);
}

.ds-result__avatar {
  display: flex;
  width: 7.2rem;
  height: 7.2rem;
  margin-right: var(--spacing-02);
  border-radius: 50%;
  overflow: hidden;
  background: #fff;

  img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.ds-result__data {
  display: flex;
  gap: var(--spacing-02);
}

.ds-result__primary {
  flex: 0 0 35%;
  max-width: 35%;
}

.ds-result__secondary {
  flex: 1;
  padding-left: var(--spacing-02);
}

.ds-result__fullname {
  font-weight: 600;
  font-size: 1.3rem;
  line-height: calc(20/13);
  color: var(--colors-grey-1000);
}

.ds-result__email {
  display: inline-block;
  max-width: 100%;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: calc(20/13);
  color: var(--colors-grey-800);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: all;
  cursor: pointer;
}

.ds-result__verification {
  margin-top: var(--spacing-01);
  display: flex;
  gap: var(--spacing-02);
  align-items: center;
  line-height: calc(16/12);
}

.ds-result__attribute {
  display: flex;
  align-items: center;
  gap: var(--spacing-01);
  font-size: 1.2rem;
  line-height: calc(16/12);
  color: var(--colors-grey-800);

  .far {
    color: var(--colors-grey-500);
  }

  &:not(:first-child) {
    margin-top: var(--spacing-01);
  }
}

.ds-result__department {
  text-transform: capitalize;
}

.ds-result__save {
  align-self: center;
  text-align: right;
}

.ds-result__source {
  align-self: center;
  padding: var(--spacing-005);
  min-width: 9rem;
  font-size: 1.2rem;
  text-align: right;
  color: var(--colors-grey-700);
  background-color: transparent;
  border: 0;
  padding: 0;

  &:hover,
  &:focus {
    color: var(--colors-grey-900);
  }
}

.ds-result__social {
  &[href*="twitter.com"] {
    color: var(--colors-brand-twitter-blue);
  }

  &[href*="linkedin.com"] {
    color: var(--colors-brand-linkedin-blue);
  }

  &:hover,
  &:focus {
    text-decoration: none;
    opacity: .8;
  }
}

.ds-result__sources {
  display: none;
  color: var(--colors-grey-700);
  font-size: 1.3rem;
  line-height: calc(16/13);
}

.ds-sources-list {
  margin: var(--spacing-06) 0 0 0;
  padding: 0;
  list-style-type: none;
}

.ds-sources-list__item {
  display: flex;
  align-items: center;
  gap: var(--spacing-02);

  &:not(:first-child) {
    margin-top: var(--spacing-02);
  }
}

.ds-sources-list__link {
  flex: 1;
  max-width: max-content;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.3rem;
  line-height: calc(20/13);
  white-space: nowrap;
  color: var(--colors-secondary-700);

  &:hover,
  &:focus {
    color: var(--colors-secondary-800);
    text-decoration: underline;
  }
}

.ds-sources-list__date {
  margin-left: auto;
  color: var(--colors-grey-600);
  font-size: 1.2rem;
  line-height: calc(20/12);
}

.ds-sources-list--outdated,
.ds-sources-list__item--outdated {
  .ds-sources-list__link {
    pointer-events: none;
    color: var(--colors-grey-600);
    text-decoration: line-through;
  }
}

.ds-sources__toggle {
  display: flex;
  align-items: center;
  gap: var(--spacing-01);
  padding: 0;
  background-color: transparent;
  border: 0;
  font-size: 1.2rem;
  line-height: calc(16/12);
  color: var(--colors-grey-700)
}


// Other popup rendering
//
.connect-container,
.connect-again-container,
.no-result-container,
.no-result-with-filters-container,
.webmail-container {
  display: none;
  height: auto;
  padding: var(--spacing-16) var(--spacing-10);
}

.no-finder-result {
  display: none;
  border-bottom: 1px solid var(--colors-grey-300);
}

.connect-message,
.connect-again-container {
  margin-bottom: 15px;
}

#error-message-container {
  display: none;
  margin: var(--spacing-02);
}

.see-more {
  margin: var(--spacing-06);
}

// Feedback
//
.feedback-notification,
.rate-notification,
.contact-notification {
  display: none;
}

.feedback-block {
  display: flex;
  align-items: center;
  gap: var(--spacing-02);
  padding: var(--spacing-04) var(--spacing-06);
  border-radius: .4rem;
  margin: var(--spacing-02) var(--spacing-02) var(--spacing-04);
  background: var(--colors-secondary-100);
  min-height: 9.2rem;
  line-height: calc(20/14);

  .h-button {
    min-width: 8rem;
    justify-content: center;
  }

  p {
    margin: 0;
  }
}

.feedback-block__title {
  font-size: 1.4rem;
  font-weight: 500;
}

.feedback-block__actions {
  margin-left: auto;
  display: flex;
  gap: var(--spacing-02);
  justify-content: flex-end;
}

.tooltip-inner {
  padding: 7px 10px;
  font-size: 13px;
}


// Hidden area to copy emails
//
#copy-area {
  position: fixed;
  top: 0px;
  left: 0px;
}
