// Variables
//

// Theme colors
$orange: #ff5722;
$blue: #168eea;

// Grey variations
$white: #fff;
$black: #2a2a2a;
$grey: #737373;
$light-grey: #888888;
$dark-grey: #666;
$background-grey: #fbfbfb;
$border-grey: #e6e6e6;

// The 3 colors used for verifications results and alerts
$green: #60ad1d;
$background-green: #e4f1da;
$red: #cc3131;
$background-red: #ffe1e1;
$beige: #8b6914;
$background-beige: #fff4e1;

// Other colors used
$dark-green: #427c11;
$dark-orange: #d45535;
$background-yellow: #fff6db;
$yellow: #fffdf9;

// Colors of other brands
$twitter-blue: #1da1f2;
$linkedin-blue: #0077b5;
$facebook-blue: #3b5998;
