// Theme colors
$orange: #ff5722;
$blue: #168eea;

// Grey variations
$white: #fff;
$black: #2a2a2a;
$grey: #737373;
$light-grey: #888;
$dark-grey: #666;
$background-grey: #fbfbfb;
$border-grey: #e6e6e6;

// The 3 colors used for alerts
$green: #37a516;
$background-green: #e4f1da;
$red: #ef1d1d;
$background-red: #ffe1e1;
$beige: #8b6914;
$background-beige: #fff4e1;

// Score colors
$score-green: #4eb92d;
$score-yellow: #ffbe42;
$score-red: #ff6e6e;

// Other colors used
$dark-green: #427c11;
$dark-orange: #ff572b;
$dark-red: #d01111;
$background-yellow: #fff6db;
$purple: #df1e62;
$dark-blue: #00374b;

// Colors of other brands
$twitter-blue: #1da1f2;
$linkedin-blue: #0077b5;
$facebook-blue: #3b5998;
$youtube-red: #cd201f;
$instagram-purple: #c13584;
$android-green: #a4c639;
$itunes-black: #050708;
